MANIFEST
releaseChecklist
gitBranches

__pycache__/
*.py[cod]
*.swp

dist/
build/
.github/
*.egg-info/
*.egg
**/*.ipynb_checkpoints/
gistPipeline/writeFITS/.ipynb_checkpoints/_writeFITS-checkpoint.py
