# i_line name   lambda   action   l-kind   A_i       V_g/i   sig_g/i   fit-kind   AoN
#               \AA      f/i/m    l/d#     1/rel2#   km/s    km/s      f/h/t

# Forbidden and Recombination lines - To share separate line-of-sight
#                                     Gaussian profiles. Use a
#                                     Ha/Hb=2.86 Balmer decrement

   0     HeII     3203.15 f      l       1.000      0    10     f      4
   1     [NeV]    3345.81 f      l       1.000      0    10     f      4
   2     [NeV]    3425.81 f      l       1.000      0    10     f      4
   3     [OII]    3726.03 f      l       1.000      0    10     f      4
   4     [OII]    3728.73 f      l       1.000      0    10     f      4
   5     [NeIII]  3868.69 f      l       1.000      0    10     f      4
   6     [NeIII]  3967.40 f      l       1.000      0    10     f      4
   7     H5       3889.05 f      d24     0.037      0    10     f      4
   8     He       3970.07 f      d24     0.056      0    10     f      4
   9     Hd       4101.73 f      d24     0.091      0    10     f      4
  10     Hg       4340.46 f      d24     0.164      0    10     f      4
  11     [OIII]   4363.15 f      l       1.000      0    10     f      4
  12     HeII     4685.74 f      l       1.000      0    10     f      4
  13     [ArIV]   4711.30 f      l       1.000      0    10     f      4
  14     [ArIV]   4740.10 f      l       1.000      0    10     f      4
  15     Hb       4861.32 f      l       0.350      0    10     f      4
  16     [OIII]   4958.83 f      d17     0.350      0    10     t17    4
  17     [OIII]   5006.77 f      l       1.000      0    10     f      4
  18     [NI]     5197.90 f      l       1.000      0    10     t17    4
  19     [NI]     5200.39 f      l       1.000      0    10     t17    4
  20     HeI      5875.60 f      l       1.000      0    10     t25    4
  21     [OI]     6300.20 f      l       1.000      0    10     t25    4
  22     [OI]     6363.67 f      d21     0.333      0    10     t25    4
  23     [NII]    6547.96 f      d25     0.340      0    10     t25    4
  24     Ha       6562.80 f      l       1.000      0    10     f      4
  25     [NII]    6583.34 f      l       1.000      0    10     f      4
  26     [SII]    6716.31 f      l       1.000      0    10     t25    4
  27     [SII]    6730.68 f      l       1.000      0    10     t25    4
  30     [ArIII]  7135.67 f      l       1.000      0    10     t25    4


# Mask regions affected by VLT-AO lasers
#
#  60      sky     5775.00 m      l       1.000      0    10      f    4
#  61      sky     5780.00 m      l       1.000      0    10      f    4
#  62      sky     5800.00 m      l       1.000      0    10      f    4
#  63      sky     5820.00 m      l       1.000      0    10      f    4
#  64      sky     5840.00 m      l       1.000      0    10      f    4
#  65      sky     5860.00 m      l       1.000      0    10      f    4
#  66      sky     5880.00 m      l       1.000      0    10      f    4
#  67      sky     5900.00 m      l       1.000      0    10      f    4
#  68      sky     5920.00 m      l       1.000      0    10      f    4
#  69      sky     5940.00 m      l       1.000      0    10      f    4
#  70      sky     5960.00 m      l       1.000      0    10      f    4
#  71      sky     5980.00 m      l       1.000      0    10      f    4
#  72      sky     6000.00 m      l       1.000      0    10      f    4
#  73      sky     6020.00 m      l       1.000      0    10      f    4
#  74      sky     6040.00 m      l       1.000      0    10      f    4
#  75      sky     6048.00 m      l       1.000      0    10      f    4

# Sky lines - used to mask out regions affected by an imperfect
#             subtraction of the sky emission. Sky lines may also be
#             fitted instead of being subtracted.

#  90      sky     5577.00 m      l       1.000      0    10      f    4
#  91      sky     6300.00 m      l       1.000      0    10      f    4
#  92      sky     6363.00 m      l       1.000      0    10      f    4

# NaD - use to exclude regions affected by interstellar absorption, or
#       to reproduce such features through the use of negative
#       Gaussians, sharing the same velocity profile

# 100      NaI     5890.00 m      l       -1.000     0    10      t101    4
# 101      NaI     5896.00 m      l       -1.000     0    10      f       4

# BLR - to share the same position and width, but not necessarily
#       abiding to the same Balmer decrement as for the narrow
#       recombination lines

# 209      Hd_br   4101.73 m      l       1.000      0    1000    t224    4
# 210      Hg_br   4340.46 m      l       1.000      0    1000    t224    4
# 215      Hb_br   4861.32 m      l       1.000      0    1000    t224    4
# 224      Ha_br   6562.80 m      l       1.000      0    1000    f       4

# [OIII] blue wings - use a negative V_g offset to help achieving the
#                     desired profile.

# 316      [OIII]w 4958.83 m      d317    0.350      -200 10     f    4
# 317      [OIII]w 5006.77 m      l       1.000      -200 10     f    4



