# index name   lambda   action   mode         A_i       V_g   sig_g
#               \AA      f/i/m    f/v/s/k/a     1/rel2#   km/s    km/s
# action keywords: f= fit, i=ignore, m=mask
# mode keywords f=free, v=fix velocity to.., s=fix sigma to .., k=fix kinematics (v and sigma) to.., a=fix kinematics and amplitude ratio given by A_i

# Forbidden and Recombination lines
# all wavelengths are in AIR
# wavelengths are taken from the reference .tpl file and are RITZ in AIR,
# except for H Balmer, for which we use OBSERVED in AIR. All data in the
# reference files come from NIST

  # 3     OII      3726.03   f      k27      1.000       0    10
  # 4     OII      3728.82   f      k27      1.000       0    10
  # 5     NeIII    3868.76   f      k17      1.000       0    10
  # 6     NeIII    3967.47   f      k17      1.000       0    10
  # 7     H5       3889.06   f      k26      1.          0    10
  # 8     He       3970.08   f      k26      1.          0    10
  # 9     SII      4068.60   f      k27      1.0000      0    10
  #10     SII      4076.35   f      k26       1.0000     0    10
  #11     Hd       4101.73   f      k26       1.         0    10
  #12     Hg       4340.47   f      k26       1.         0    10
  #13     OIII     4363.21   f      k17        1.000      0    10
  14     HeII     4685.70   f      k17       1.000      0    10
  15     Hb       4861.35   f      k26       1.000      0    10
  16     OIII     4958.91   f      a17       0.350      0    10
  17     OIII     5006.84   f      f         1.000      0    10
  18     NI       5197.90   f      k27       1.000      0    10
  19     NI       5200.26   f      k27       1.000      0    10
  20     NII      5754.59   f      k27       1.0000     0    10
  21     HeI      5875.61   f      k26       1.000      0    10
  22     OI       6300.30   f      k27       1.000      0    10
  #23     SIII     6312.06   f      k17       1.000      0    10
  24     OI       6363.78   f      a22       0.333      0    10
  25     NII      6548.05   f      a27       0.340      0    10
  26     Ha       6562.79   f      f         1.000      0    10
  27     NII      6583.45   f      f         1.000      0    10
  28     HeI      6678.15   m      k26       1.000      0    10
  29     SII      6716.44   f      k27       1.000      0    10
  30     SII      6730.82   f      k27       1.000      0    10
  #31     ArIII    7135.79   f      k17       1.000      0    10
  #32     OII      7318.92   f      a34       0.604      0    10
  #33     OII      7319.99   f      a35       1.908     0    10
  #34     OII      7329.67   f      k27       1.0000     0    10
  #35     OII      7330.73   f      k27       1.0        0    10
  #36     HPa11    8862.89   f      k26       1.0000     0    10
  #37     HPa10    9015.3    f      k26       1.0000      0    10
  #38     SIII     9068.6    f      k17       1.000      0    10
  #39     SIII     9530.6    f      k17       1.000      0    10

# Sky lines - used to mask out regions affected by an imperfect
#             subtraction of the sky emission. Sky lines may also be
#             fitted instead of being subtracted.

  90      sky     5577.34  m      f         1.000      0    10
  91      sky     6300.30  m      f         1.000      0    10
  92      sky     6363.78  m      f         1.000      0    10

# Mask regions affected by ISM absorption

  100     NaI     5889.95   m      f         1.000      0    10
  101     NaI     5895.92   m      f         1.000      0    10
