name: Run example galaxy MacOS

on: [push]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest]
        python-version: ['3.11']

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Get working directory
        # run: pwd
        run: echo $HOME
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip

          pip install numpy astropy PyQt6 scipy matplotlib pytest spectral_cube extinction h5py joblib tqdm printstatus emcee plotly pandas

          # force reinstall of numpy due to v2.0.0 not working properly with other packages
          pip install --force-reinstall -v "numpy==1.26.4"          

      - name: Install ngist
        run: |
          pip install .

      - name: Checking the pipeline runs NGC 0000 in Parallel
        run: ngistPipeline --config=./.github/workflows/tests/gistTutorial/configFiles/MasterConfig.yaml --default-dir=./.github/workflows/tests/gistTutorial/configFiles/defaultDir_mac
      - name: Checking pipeline results
        run: python ./.github/workflows/tests/check_outputs.py
      - name: Modify config for serial run
        run: |
          sed -i '' 's/PARALLEL: True/PARALLEL: False/g' ./.github/workflows/tests/gistTutorial/configFiles/MasterConfig.yaml
      - name: Checking the pipeline runs NGC 0000 in Serial
        run: ngistPipeline --config=./.github/workflows/tests/gistTutorial/configFiles/MasterConfig.yaml --default-dir=./.github/workflows/tests/gistTutorial/configFiles/defaultDir_mac
      - name: Checking pipeline results
        run: python ./.github/workflows/tests/check_outputs.py
